$background-color: #64cee0;
$button-background: #e0e0e0;
$equal-background: #ff4f4f;
$full-white: #ffffff;
$primary-white: #E1EEFF;
$blue-n-white: #CAE6FF;
$light-blue: #A1D8FF;
$primary-blue: #5FB8FF;
$secondary-blue: #289FED;
$shadow-color: rgba(59,25,63,0);