body{
    background-color: rgb(100, 206, 224);
}
button{
    width: 2.5rem;
    margin: 4px 1.4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_zero{
    width: 5.45rem;
}
.button_equal{
    width: 2.5rem;
    background-color: rgb(255, 79, 79);
}
#visor{
    text-align: right;
    margin-right: 4px;
    font-family: 'Orbitron', sans-serif;
    font-size: 27px;
    background-color: #5FB8FF;
    border-radius: 10px;
    padding: 6px 10px 6px 4px;
}
@media (max-width: 800px) {
.guiContainer{
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin-top: 12%;
    margin-left: 26%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 0px 0px #E1EEFF,
                        10px 10px 0px 0px #CAE6FF,
                        15px 15px 0px 0px #A1D8FF, 
                        20px 20px 0px 0px #5FB8FF,
                        25px 25px 0px 0px #289FED,
                        22px 0px 22px 7px rgba(59,25,63,0);
    box-shadow: 5px 5px 0px 0px #E1EEFF,
                10px 10px 0px 0px #CAE6FF,
                15px 15px 0px 0px #A1D8FF, 
                20px 20px 0px 0px #5FB8FF,
                25px 25px 0px 0px #289FED,
                22px 0px 22px 7px rgba(59,25,63,0);  
}
}@media (min-width: 800px) {
    .guiContainer{
        display: inline-block;
        border-radius: 10px;
        padding: 10px;
        margin-top: 12%;
        margin-left: 41%;
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 5px 5px 0px 0px #E1EEFF,
                            10px 10px 0px 0px #CAE6FF,
                            15px 15px 0px 0px #A1D8FF, 
                            20px 20px 0px 0px #5FB8FF,
                            25px 25px 0px 0px #289FED,
                            22px 0px 22px 7px rgba(59,25,63,0);
        box-shadow: 5px 5px 0px 0px #E1EEFF,
                    10px 10px 0px 0px #CAE6FF,
                    15px 15px 0px 0px #A1D8FF, 
                    20px 20px 0px 0px #5FB8FF,
                    25px 25px 0px 0px #289FED,
                    22px 0px 22px 7px rgba(59,25,63,0);  
    }
    }
    
